@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Employee Management application makes it easy to keep track of your company’s human resources at the press of a button. This feature-rich, fully customizable and scalable application makes it easier and more efficient to monitor and manage employees from different locations, supervise their work reports and productivity, track time, etc. In total, our application enables your business to make more efficient use of its human resources while saving you time and money. It also helps at the time of employee appraisals.</p>
