@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Srirang Ubale.<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    Shishir Khapre.<br />
    Redmond, NY 98052-6388<br />
    <abbr title="Phone">P:</abbr>
    425.555.0122
</address>

